{% extends 'base.html' %}

{% block content %}

<body class="d-flex flex-column">

<div class="content flex-grow-1">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='pictures/me.png') }}" width="90px" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="{{ url_for('index') }}">Обо мне</a>
                    <a class="nav-link active" href="{{ url_for('blog') }}">Блог</a>
                    <a class="nav-link" href="{{ url_for('contacts') }}">Контакты</a>
                </div>
            </div>
        </nav>
        <h1 class="text-dark pt-5 pb-5">Блог</h1>
        <div class="row pb-5">

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="{{ url_for('static', filename='pictures/portalgun.jpeg') }}" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Узко направленные програмисты</h5>
                        <p class="blog-text">Большинство програмистов хороши лишь в написаний кода и это является одним из их главных неддостатков.</br>
                            Ранее я изучал икслючительно написание кода, но когда столкнулся с трудностями дизайна я понял что на одном програмирований далеко не уедешь,
                            потому я начал изучать всё что может быть связано с програмированием.</br>
                            Так я сначало изучил левел дизайн и настройку объектов в юнити после я начал изучать создание персонажей с блэндер и это мне крайне сильно помогло потому что я осознал,
                            помимо банального написания кода есть ещё много вего интересного.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="{{ url_for('static', filename='pictures/languages.jfif') }}" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Изучать языки програмирования просто!</h5>
                        <p class="blog-text">Большинство задачь что человек может представить програмный код может выполнить.<br> Изучение языка програмирование не учит вас чему то координально новому, оно показывает как сделать так чтобы компьютер смог делать определённую задачу.<br> А как вы научитеь програмировать код под одни задачи вам откроется простор для воображение потому что в програмирований команды можно использовать так как вам захочется!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="{{ url_for('static', filename='pictures/strong.jpeg') }}" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Мои доcтижения</h5>
                        <p class="blog-text">За прошедший год я со своей командой поучавствовал на Хакатоне где мы заняли второе место это был первый конкурс по програмированию на котором я учатвовал за вю жизнь.<br> До этого я 2 года обучалсся програмированию и созданию игр на юнити и немного изучал пайтон.<br> Нужно всегда пробовать и обучатся чему либо новому а главное не боятся кринжа потому что на сколько я заметил что чтобы добится большого успеха нужно пройти через кринж!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
{% endblock %}