<!doctype html>
<html lang="ru">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Шрифты сайта -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;700&display=swap"
        rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Стили проекта -->
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Сайт Матвея | Блог</title>
</head>

<body class="d-flex flex-column">


<div class="content flex-grow-1">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="index.html"><img src="../static/pictures/me.png" width="90px" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Обо мне</a>
                    <a class="nav-link active" href="/blog/">Блог</a>
                    <a class="nav-link" href="/contacts/">Контакты</a>
                </div>
            </div>
        </nav>
        <h1 class="text-dark pt-5 pb-5">Блог</h1>
        <div class="row pb-5">

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="../static/pictures/portalgun.jpeg" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Узко направленные програмисты</h5>
                        <p class="blog-text">Большинство програмистов хороши лишь в написаний кода и это является одним из их главных неддостатков.</br>
                            Ранее я изучал икслючительно написание кода, но когда столкнулся с трудностями дизайна я понял что на одном програмирований далеко не уедешь,
                            потому я начал изучать всё что может быть связано с програмированием.</br>
                            Так я сначало изучил левел дизайн и настройку объектов в юнити после я начал изучать создание персонажей с блэндер и это мне крайне сильно помогло потому что я осознал,
                            помимо банального написания кода есть ещё много вего интересного.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="../static/pictures/languages.jfif" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Изучать языки програмирования просто!</h5>
                        <p class="blog-text">Большинство задачь что человек может представить програмный код может выполнить.<br> Изучение языка програмирование не учит вас чему то координально новому, оно показывает как сделать так чтобы компьютер смог делать определённую задачу.<br> А как вы научитеь програмировать код под одни задачи вам откроется простор для воображение потому что в програмирований команды можно использовать так как вам захочется!</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mb-3">
                <div class="card blog-card mb-4">
                    <img src="../static/pictures/strong.jpeg" class="card-img-top" alt="photo">
                    <div class="card-body blog-content">
                        <h5 class="blog-heading pb-3">Мои доcтижения</h5>
                        <p class="blog-text">За прошедший год я со своей командой поучавствовал на Хакатоне где мы заняли второе место это был первый конкурс по програмированию на котором я учатвовал за вю жизнь.<br> До этого я 2 года обучалсся програмированию и созданию игр на юнити и немного изучал пайтон.<br> Нужно всегда пробовать и обучатся чему либо новому а главное не боятся кринжа потому что на сколько я заметил что чтобы добится большого успеха нужно пройти через кринж!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<footer class="footer">
        <div class="container d-flex justify-content-between flex-wrap">
            <a href="https://www.instagram.com/flagman_astana/"><img src="../static/pictures/flagmanlogo.jfif" alt="logo" style="width: 50%; max-width: 300px;"></a>
            <div class="icons">
                <a href="https://vk.com/"><img src="../static/pictures/vk.svg" alt="vk"></a>
                <a href="https://telegram.me/"><img src="../static/pictures/telegram.svg" alt="telegram"></a>
                <a href="https://www.youtube.com/user/"><img src="../static/pictures/youtube.svg" alt="youtube"></a>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</body>

</html>
